<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erreur</title>
  </head>
  <style>
    body {
      font-family: 'Roobert';
      src: url('../fonts/RoobertBold.ttf');
      display: flex;
      justify-content: center;
      text-align: center;
    }
    h1 {
      text-align: center;
    }
  </style>
  <body>
    <h1>Erreur de connexion</h1>
  </body>
</html>
