<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>
    <script src="https://play.workadventu.re/iframe_api.js"></script>
    <script src="/js/main.js" type="module"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <img src="/images/logo.png" alt="" />
    <h1>Connectez-vous à Twitch</h1>
    <a href="<%=url%>" target="_app" id="link">Connexion</a>
  </body>
  <style>
    img {
      height: 35vh;
      object-fit: contain;
    }
    h1 {
      margin-top: 0vh;
    }
  </style>
</html>
